USE [master]
GO
/****** Objeto: Database [deberes_4to] Fecha de script: 23/06/2026 20:22:51 ******/
CREATE DATABASE [deberes_4to]
 
USE [deberes_4to]
GO
/****** Objeto: User [jenkis] Fecha de script: 23/06/2026 20:22:51 ******/
CREATE USER [jenkis] FOR LOGIN [jenkis] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [jenkis]
GO
/****** Objeto: Table [dbo].[tbl_usuario] Fecha de script: 23/06/2026 20:22:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_usuario](
	[usu_id] [int] IDENTITY(1,1) NOT NULL,
	[usu_nombres] [nvarchar](200) NOT NULL,
	[usu_cedula] [varchar](20) NULL,
	[correo_electronico] [nvarchar](100) NOT NULL,
	[contraseña] [nvarchar](255) NOT NULL,
	[fecha_nacimiento] [date] NULL,
	[edad]  AS (case when [fecha_nacimiento] IS NULL then NULL else datediff(year,[fecha_nacimiento],sysutcdatetime())-case when dateadd(year,datediff(year,[fecha_nacimiento],sysutcdatetime()),[fecha_nacimiento])>sysutcdatetime() then (1) else (0) end end),
	[usu_nickname] [nvarchar](100) NULL,
	[numero_celular] [nvarchar](20) NULL,
	[codigo_otp] [nvarchar](60) NULL,
	[fecha_otp_generado] [datetime2](7) NULL,
	[intentos_fallidos] [int] NOT NULL,
	[rol_id] [int] NOT NULL,
	[fecha_creacion] [datetime2](7) NOT NULL,
	[clave_temporal] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[usu_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: View [dbo].[vw_EstadoCuentas] Fecha de script: 23/06/2026 20:22:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_EstadoCuentas] AS
SELECT
    usu_id,
    usu_nombres,
    usu_nickname,
    correo_electronico,
    intentos_fallidos,
    CASE
        WHEN intentos_fallidos >= 3 THEN 'BLOQUEADO'
        WHEN intentos_fallidos  = 2 THEN 'Advertencia (1 intento restante)'
        WHEN intentos_fallidos  = 1 THEN 'Advertencia (2 intentos restantes)'
        ELSE 'Activo'
    END AS estado_cuenta,
    fecha_otp_generado AS ultimo_intento,
    rol_id
FROM tbl_usuario;
GO
/****** Objeto: Table [dbo].[tbl_juego_progreso] Fecha de script: 23/06/2026 20:22:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_juego_progreso](
	[progreso_id] [int] IDENTITY(1,1) NOT NULL,
	[usu_id] [int] NOT NULL,
	[nivel_desbloqueado] [int] NOT NULL,
	[mejor_puntuacion] [int] NOT NULL,
	[monedas_totales] [int] NOT NULL,
	[ultima_partida] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[progreso_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[tbl_pro_fotos] Fecha de script: 23/06/2026 20:22:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_pro_fotos](
	[foto_id] [int] IDENTITY(1,1) NOT NULL,
	[pro_id] [int] NOT NULL,
	[foto_bit] [varbinary](max) NULL,
	[foto_ruta] [nvarchar](255) NULL,
	[fecha_subida] [datetime2](7) NOT NULL,
	[foto_estado] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[foto_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[tbl_producto] Fecha de script: 23/06/2026 20:22:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_producto](
	[pro_id] [int] IDENTITY(1,1) NOT NULL,
	[pro_nombre] [varchar](50) NULL,
	[pro_cantidad] [int] NULL,
	[pro_precio] [decimal](18, 2) NULL,
	[pro_estado] [char](1) NULL,
	[prov_id] [int] NULL,
 CONSTRAINT [PK_tbl_producto] PRIMARY KEY CLUSTERED 
(
	[pro_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[tbl_proveedor] Fecha de script: 23/06/2026 20:22:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_proveedor](
	[prov_id] [int] IDENTITY(1,1) NOT NULL,
	[prov_nombre] [varchar](50) NULL,
	[prov_estado] [char](1) NULL,
 CONSTRAINT [PK_tbl_proveedor] PRIMARY KEY CLUSTERED 
(
	[prov_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[tbl_proveedor_reasignacion_pendiente] Fecha de script: 23/06/2026 20:22:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_proveedor_reasignacion_pendiente](
	[pendiente_id] [int] IDENTITY(1,1) NOT NULL,
	[pro_id] [int] NOT NULL,
	[proveedor_nombre] [nvarchar](150) NOT NULL,
	[fecha_registro] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[pendiente_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[tbl_rol] Fecha de script: 23/06/2026 20:22:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_rol](
	[rol_id] [int] IDENTITY(1,1) NOT NULL,
	[nombre_rol] [nvarchar](50) NOT NULL,
	[descripcion] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[rol_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[tbl_usuario_fotos] Fecha de script: 23/06/2026 20:22:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_usuario_fotos](
	[foto_id] [int] IDENTITY(1,1) NOT NULL,
	[usu_id] [int] NOT NULL,
	[nombre_archivo] [nvarchar](255) NULL,
	[content_type] [nvarchar](100) NULL,
	[foto] [varbinary](max) NULL,
	[fecha_subida] [datetime2](7) NOT NULL,
	[es_principal] [bit] NOT NULL,
	[foto_ruta] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[foto_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbl_juego_progreso] ON 

INSERT [dbo].[tbl_juego_progreso] ([progreso_id], [usu_id], [nivel_desbloqueado], [mejor_puntuacion], [monedas_totales], [ultima_partida]) VALUES (1, 4, 2, 534, 381, CAST(N'2026-05-23T18:00:06.773' AS DateTime))
INSERT [dbo].[tbl_juego_progreso] ([progreso_id], [usu_id], [nivel_desbloqueado], [mejor_puntuacion], [monedas_totales], [ultima_partida]) VALUES (2, 15, 1, 497, 56, CAST(N'2026-05-14T15:32:52.717' AS DateTime))
INSERT [dbo].[tbl_juego_progreso] ([progreso_id], [usu_id], [nivel_desbloqueado], [mejor_puntuacion], [monedas_totales], [ultima_partida]) VALUES (3, 13, 2, 534, 116, CAST(N'2026-06-20T16:35:25.710' AS DateTime))
SET IDENTITY_INSERT [dbo].[tbl_juego_progreso] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_pro_fotos] ON 

INSERT [dbo].[tbl_pro_fotos] ([foto_id], [pro_id], [foto_bit], [foto_ruta], [fecha_subida], [foto_estado]) VALUES (1, 76, 0x, N'wwwroot/Productos/foto_0a6ee8e6d4574a0a97bc4061c4375e4e.jpg', CAST(N'2026-06-20T12:32:01.9521691' AS DateTime2), N'A')
INSERT [dbo].[tbl_pro_fotos] ([foto_id], [pro_id], [foto_bit], [foto_ruta], [fecha_subida], [foto_estado]) VALUES (2, 86, 0x, N'wwwroot/Productos/foto_d591a886524347a8ba95aa0065d2cb8c.jpg', CAST(N'2026-06-20T12:32:01.9521691' AS DateTime2), N'A')
INSERT [dbo].[tbl_pro_fotos] ([foto_id], [pro_id], [foto_bit], [foto_ruta], [fecha_subida], [foto_estado]) VALUES (3, 39, 0x, N'wwwroot/Productos/foto_28576102e332460fbd818270796d2cf1.jpg', CAST(N'2026-06-20T12:32:01.9521691' AS DateTime2), N'A')
SET IDENTITY_INSERT [dbo].[tbl_pro_fotos] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_producto] ON 

INSERT [dbo].[tbl_producto] ([pro_id], [pro_nombre], [pro_cantidad], [pro_precio], [pro_estado], [prov_id]) VALUES (1, N'Auriculares Bluetooth', 82, CAST(544.88 AS Decimal(18, 2)), N'A', 14)
INSERT [dbo].[tbl_producto] ([pro_id], [pro_nombre], [pro_cantidad], [pro_precio], [pro_estado], [prov_id]) VALUES (2, N'Batería Portátil 20000mAh', 15, CAST(522.49 AS Decimal(18, 2)), N'A', 3)
INSERT [dbo].[tbl_producto] ([pro_id], [pro_nombre], [pro_cantidad], [pro_precio], [pro_estado], [prov_id]) VALUES (3, N'Soporte Articulado para Monitor', 4, CAST(404.14 AS Decimal(18, 2)), N'A', 16)
SET IDENTITY_INSERT [dbo].[tbl_producto] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_proveedor] ON 

INSERT [dbo].[tbl_proveedor] ([prov_id], [prov_nombre], [prov_estado]) VALUES (1, N'Favorita', N'A')
INSERT [dbo].[tbl_proveedor] ([prov_id], [prov_nombre], [prov_estado]) VALUES (2, N'Distribuidora del Valle', N'A')
INSERT [dbo].[tbl_proveedor] ([prov_id], [prov_nombre], [prov_estado]) VALUES (3, N'Tecnología Avanzada S.A.', N'A')
SET IDENTITY_INSERT [dbo].[tbl_proveedor] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_rol] ON 

INSERT [dbo].[tbl_rol] ([rol_id], [nombre_rol], [descripcion]) VALUES (1, N'Usuario', N'Rol de usuario normal')
INSERT [dbo].[tbl_rol] ([rol_id], [nombre_rol], [descripcion]) VALUES (2, N'Admin', N'Rol de administrador con acceso total')
SET IDENTITY_INSERT [dbo].[tbl_rol] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_usuario] ON 

INSERT [dbo].[tbl_usuario] ([usu_id], [usu_nombres], [usu_cedula], [correo_electronico], [contraseña], [fecha_nacimiento], [usu_nickname], [numero_celular], [codigo_otp], [fecha_otp_generado], [intentos_fallidos], [rol_id], [fecha_creacion], [clave_temporal]) VALUES (4, N'Ari Ari Cáceres Cáceres', N'1750893396', N'caceresarianna12@gmail.com', N'$2a$11$wpNXYV.pLBk3uLqmdAd9ZupPV7PytwfK4NbdQ6Vm3MUkfTBbyxY7u', CAST(N'2006-07-12' AS Date), N'@acÁr77', N'0987459128', NULL, CAST(N'2026-06-20T16:00:25.4044964' AS DateTime2), 0, 1, CAST(N'2026-05-12T14:36:03.0166667' AS DateTime2), 0)
INSERT [dbo].[tbl_usuario] ([usu_id], [usu_nombres], [usu_cedula], [correo_electronico], [contraseña], [fecha_nacimiento], [usu_nickname], [numero_celular], [codigo_otp], [fecha_otp_generado], [intentos_fallidos], [rol_id], [fecha_creacion], [clave_temporal]) VALUES (15, N'Lorena Lorena prueba 1213', N'1717756231', N'caceres.ariana.ueld@gmail.com', N'$2a$11$dLc1haARaGjicVUdVsL5DOyY19PzzuLHtaqM5Sw0pUqo7m4wgGTyC', CAST(N'1982-10-02' AS Date), N'&lP2O61', N'0998045830', NULL, NULL, 0, 2, CAST(N'2026-05-13T20:15:29.2133333' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[tbl_usuario] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_usuario_fotos] ON 

SET IDENTITY_INSERT [dbo].[tbl_usuario_fotos] OFF
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__tbl_rol__673CB4359F6AFB1F] Fecha de script: 23/06/2026 20:22:52 ******/
ALTER TABLE [dbo].[tbl_rol] ADD UNIQUE NONCLUSTERED 
(
	[nombre_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__tbl_usua__00A66DAB58856D3E] Fecha de script: 23/06/2026 20:22:52 ******/
ALTER TABLE [dbo].[tbl_usuario] ADD UNIQUE NONCLUSTERED 
(
	[usu_nickname] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__tbl_usua__5B8A06824A4BB079] Fecha de script: 23/06/2026 20:22:52 ******/
ALTER TABLE [dbo].[tbl_usuario] ADD UNIQUE NONCLUSTERED 
(
	[correo_electronico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__tbl_usua__A0704FC3D531528B] Fecha de script: 23/06/2026 20:22:52 ******/
ALTER TABLE [dbo].[tbl_usuario] ADD UNIQUE NONCLUSTERED 
(
	[usu_cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [IX_nombre_del_indice] Fecha de script: 23/06/2026 20:22:52 ******/
CREATE NONCLUSTERED INDEX [IX_nombre_del_indice] ON [dbo].[tbl_usuario]
(
	[codigo_otp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [IX_tbl_usuario_correo] Fecha de script: 23/06/2026 20:22:52 ******/
CREATE NONCLUSTERED INDEX [IX_tbl_usuario_correo] ON [dbo].[tbl_usuario]
(
	[correo_electronico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [IX_tbl_usuario_rol] Fecha de script: 23/06/2026 20:22:52 ******/
CREATE NONCLUSTERED INDEX [IX_tbl_usuario_rol] ON [dbo].[tbl_usuario]
(
	[rol_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [IX_tbl_usuario_fotos_usuario_principal] Fecha de script: 23/06/2026 20:22:52 ******/
CREATE NONCLUSTERED INDEX [IX_tbl_usuario_fotos_usuario_principal] ON [dbo].[tbl_usuario_fotos]
(
	[usu_id] ASC,
	[es_principal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_juego_progreso] ADD  DEFAULT ((1)) FOR [nivel_desbloqueado]
GO
ALTER TABLE [dbo].[tbl_juego_progreso] ADD  DEFAULT ((0)) FOR [mejor_puntuacion]
GO
ALTER TABLE [dbo].[tbl_juego_progreso] ADD  DEFAULT ((0)) FOR [monedas_totales]
GO
ALTER TABLE [dbo].[tbl_pro_fotos] ADD  CONSTRAINT [DF_tbl_pro_fotos_fecha_subida]  DEFAULT (sysutcdatetime()) FOR [fecha_subida]
GO
ALTER TABLE [dbo].[tbl_proveedor_reasignacion_pendiente] ADD  CONSTRAINT [DF_tbl_proveedor_reasignacion_pendiente_fecha]  DEFAULT (sysdatetime()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[tbl_usuario] ADD  CONSTRAINT [DF_tbl_usuario_intentos_fallidos]  DEFAULT ((0)) FOR [intentos_fallidos]
GO
ALTER TABLE [dbo].[tbl_usuario] ADD  DEFAULT ((1)) FOR [rol_id]
GO
ALTER TABLE [dbo].[tbl_usuario] ADD  CONSTRAINT [DF_tbl_usuario_fecha_creacion]  DEFAULT (sysutcdatetime()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[tbl_usuario] ADD  DEFAULT ((0)) FOR [clave_temporal]
GO
ALTER TABLE [dbo].[tbl_usuario_fotos] ADD  CONSTRAINT [DF_tbl_usuario_fotos_fecha_subida]  DEFAULT (sysutcdatetime()) FOR [fecha_subida]
GO
ALTER TABLE [dbo].[tbl_usuario_fotos] ADD  CONSTRAINT [DF_tbl_usuario_fotos_es_principal]  DEFAULT ((0)) FOR [es_principal]
GO
ALTER TABLE [dbo].[tbl_juego_progreso]  WITH CHECK ADD  CONSTRAINT [FK_juego_usuario] FOREIGN KEY([usu_id])
REFERENCES [dbo].[tbl_usuario] ([usu_id])
GO
ALTER TABLE [dbo].[tbl_juego_progreso] CHECK CONSTRAINT [FK_juego_usuario]
GO
ALTER TABLE [dbo].[tbl_pro_fotos]  WITH CHECK ADD  CONSTRAINT [FK_tbl_pro_fotos_producto] FOREIGN KEY([pro_id])
REFERENCES [dbo].[tbl_producto] ([pro_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_pro_fotos] CHECK CONSTRAINT [FK_tbl_pro_fotos_producto]
GO
ALTER TABLE [dbo].[tbl_producto]  WITH NOCHECK ADD  CONSTRAINT [FK_tbl_producto_tbl_proveedor] FOREIGN KEY([prov_id])
REFERENCES [dbo].[tbl_proveedor] ([prov_id])
GO
ALTER TABLE [dbo].[tbl_producto] CHECK CONSTRAINT [FK_tbl_producto_tbl_proveedor]
GO
ALTER TABLE [dbo].[tbl_usuario]  WITH CHECK ADD  CONSTRAINT [FK_tbl_usuario_rol] FOREIGN KEY([rol_id])
REFERENCES [dbo].[tbl_rol] ([rol_id])
GO
ALTER TABLE [dbo].[tbl_usuario] CHECK CONSTRAINT [FK_tbl_usuario_rol]
GO
ALTER TABLE [dbo].[tbl_usuario_fotos]  WITH CHECK ADD  CONSTRAINT [FK_tbl_usuario_fotos_usuario] FOREIGN KEY([usu_id])
REFERENCES [dbo].[tbl_usuario] ([usu_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_usuario_fotos] CHECK CONSTRAINT [FK_tbl_usuario_fotos_usuario]
GO
/****** Objeto: StoredProcedure [dbo].[sp_eliminar_proveedor_permanente] Fecha de script: 23/06/2026 20:22:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_eliminar_proveedor_permanente]
    @prov_id INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @prov_nombre NVARCHAR(150);

    SELECT @prov_nombre = prov_nombre
    FROM dbo.tbl_proveedor
    WHERE prov_id = @prov_id;

    IF @prov_nombre IS NULL
    BEGIN
        RAISERROR('Proveedor no encontrado.', 16, 1);
        RETURN;
    END

    INSERT INTO dbo.tbl_proveedor_reasignacion_pendiente (pro_id, proveedor_nombre)
    SELECT p.pro_id, @prov_nombre
    FROM dbo.tbl_producto p
    WHERE p.prov_id = @prov_id
      AND NOT EXISTS (
          SELECT 1
          FROM dbo.tbl_proveedor_reasignacion_pendiente rp
          WHERE rp.pro_id = p.pro_id
            AND LTRIM(RTRIM(rp.proveedor_nombre)) = LTRIM(RTRIM(@prov_nombre))
      );

    UPDATE dbo.tbl_producto
    SET prov_id = NULL
    WHERE prov_id = @prov_id;

    DELETE FROM dbo.tbl_proveedor
    WHERE prov_id = @prov_id;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_ResetearIntentosCaducados] Fecha de script: 23/06/2026 20:22:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ResetearIntentosCaducados]
AS
BEGIN
    UPDATE tbl_usuario
    SET    intentos_fallidos = 0
    WHERE  intentos_fallidos > 0
      AND  intentos_fallidos <= 2
      AND  DATEDIFF(HOUR, fecha_otp_generado, GETDATE()) >= 24;

    PRINT CAST(@@ROWCOUNT AS VARCHAR) + ' usuario(s) reseteados.';
END
GO
USE [master]
GO
